<h1>MEU CURRICULO</h1>
<br />
<hr />
Entusiasta de tecnologia cursando tecnólogo de Análise em Desenvolvimento de Sistemas e Técnico de Redes em Computadores com ênfase em Desenvolvimento de Software e certificação técnica em Desenvolvimento de Sistemas. Apaixonado por resolver problemas e aprender novas tecnologias, estou buscando uma oportunidade para iniciar minha carreira como Desenvolvedor de Software ou Engenheiro DevOps. Minha formação acadêmica e cursos técnicos proporcionaram uma base sólida em linguagens de programação, conceitos de desenvolvimento de software e infraestrutura de redes. Estou ansioso para aplicar meu conhecimento teórico em um ambiente profissional e contribuir de forma significativa para projetos desafiadores. Sou um aprendiz rápido, dedicado a me desenvolver profissionalmente e comprometido em acompanhar as tendências e práticas emergentes do setor de tecnologia.
<br /><br />
<hr />
⚙️ Cursando Tecnologo em Análise em Desenvolvimento de Sistemas - Escola SENAI Armando de Arruda Pereira
💻 Formado em Técnico em Desenvolvimento de Sistemas - Escola Senai de Informática - Santa Cecília
💻 Cursando Técnico em Redes de Computadores - Escola Senai Paulo Antonio Skaf
<app-item-output (newItemEvent)="addItem($event)"></app-item-output>
<ul>
  <li *ngFor="let item of items">{{ item }}</li>
</ul>
<app-item-teste></app-item-teste>
<app-item-detail [item]="itemAtual" [num]="numAtual"> </app-item-detail>
<hr />

