<section class="grid">

    <app-header></app-header>
    
    
    <button mat-button [matMenuTriggerFor]="menu">MENU</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/" routerLinkActive="active">Início</button>
        <button mat-menu-item routerLink="/Sobre" routerLinkActive="active">Sobre</button>
        <button mat-menu-item routerLink="/Experiencias" routerLinkActive="active">Experiências</button>
    </mat-menu>
    <router-outlet></router-outlet>
</section>