<Section class="grid container_experiencia">

    <div class="titulo_experiencia">
        <h1>Experiência Profissionais</h1>
    </div>

    <div class="container_job">
        <div class="titulos_job">

            <h5> Estagiário data sciencie </h5>

            <h5>Digital Solvers</h5>

            <h5>07/2024 - atual</h5>
        </div>

        <div class="realizacoes">
            <h6> Realizações: </h6>
            <ul>
                <li>Planilhas excel</li>
                <li>Scripts em SQL</li>
                <li>Azure Synapse Analytics</li>
                <li>Power Automate</li>
                <li>Azure databricks</li>
                <li>Python</li>
                <li>Criptografias</li>
                <li>Google Cloud Plataform</li>
            </ul>
        </div>
    </div>

    <br>


    <div class="container_job">
        <div class="titulos_job">
            <h5> Estagiário de Suporte </h5>

            <h5>SESI-SP</h5>

            <h5>01/2023 - 06/2024</h5>
        </div>

        <div class="realizacoes">
            <h6> Realizações: </h6>
            <ul>
                <li>Atendimento</li>
                <li>Documentações</li>
                <li>Formatação de computadpres e notebooks</li>
                <li>Manutenção de computadores</li>
                <li>Suporte Técnico</li>
                <li>Edição de vídeos</li>
                <li>Configurações de softwares</li>
                <li>Configuração de computadores</li>
                <li>Tabelas no excel</li>
            </ul>
        </div>
    </div>

</Section>